::selection {
	color: white;
	background-color: #3e903f;
}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{
	margin:0; 
	padding:0;
}
body 
{
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#header 
{
	height: 195px;
}
.headerimg 
{
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 195px;
	position: absolute;
	background-color: #f5f5f5;
}
nav 
{
	width:100%;
	height: 65px;
	background-color: #f5f5f5;
}
ul li 
{
	display:inline;
	padding-left:40px;
	padding-right:40px;
}
#botonera
{
	width:950px;
	margin:auto;
	height:40px;
}
.clear { clear: both; }
#contenido 
{
	min-height:470px;
	width: 950px;
	margin: auto
}
#texto_destacados 
{
	width:950px;
	height:75px;
	margin:auto;
}
#contenido_destacados 
{
	width:100%;
	height:375px;
	margin:auto;
	background-color: #f5f5f5;
}
#destacados 
{
	width:950px;
	height:375px;
	margin:auto;
}
#redes_sociales 
{
	width:100%;
	height:250px;
	background-color: #3e903f;	
}
#contenido_redes_sociales 
{
	width:950px;
	height:250px;
	margin:auto;	
}
footer 
{
	height:100px;
	width:950px;
	margin:auto;
}
.botonera 
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 16px;
	color: #585858;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	padding-top: 25px;	
}
.botonera:hover
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 16px;
	color: #3e903f;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	padding-top: 25px;	
}
.texto 
{
	font-family: "raspoutine_classicitalic";
	font-size: 14px;
	color: #585858;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	padding-right: 5px;
}
.detalle_curso 
{
	font-family: "raspoutine_classicitalic";
	font-size: 14px;
	color: #3e903f;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	padding-right: 5px;
}
.destacados 
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 16px;
	color: #585858;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.descargarpdf 
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 14px;
	color: #585858;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.descargarpdf:hover
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 14px;
	color: #3e903f;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.destacados_texto 
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 16px;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.footer 
{
	font-family: 'raspoutine_mediumitalic';
	font-size: 12px;
	color: #8f8f90;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.destacados_texto2
{
	font-family: "raspoutine_classicitalic";
	font-size: 14px;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}