@font-face {
    font-family: 'raspoutine_mediumitalic';
    src: url('raspoutinemedium_tb-webfont.eot');
    src: url('raspoutinemedium_tb-webfont.eot?#iefix') format('embedded-opentype'),
         url('raspoutinemedium_tb-webfont.woff') format('woff'),
         url('raspoutinemedium_tb-webfont.ttf') format('truetype'),
         url('raspoutinemedium_tb-webfont.svg#raspoutine_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raspoutine_classicitalic';
    src: url('raspoutineclassic_tb-webfont.eot');
    src: url('raspoutineclassic_tb-webfont.eot?#iefix') format('embedded-opentype'),
         url('raspoutineclassic_tb-webfont.woff') format('woff'),
         url('raspoutineclassic_tb-webfont.ttf') format('truetype'),
         url('raspoutineclassic_tb-webfont.svg#raspoutine_classicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}